/* Hide scrollbar but keep scrolling */
.overflow-y-auto::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.overflow-y-auto {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}