<div class="flex h-screen w-2/2 ">
    <!-- ===== Primary Database  ===== -->
    <div class="flex h-screen w-2/2">
        <div
            class="bg-white/3 max-w-sm h-35 ml-10 mt-8 backdrop-blur-md border border-gray-600 rounded-xl shadow-lg p-4">
            <div class="flex flex-row space-x-2 mt-2">
                <div class="flex flex-col items-center">
                    <div class="card bg-gray-700 w-20 shadow-[4px_4px_0px_#3b82f6] hover:shadow-[6px_6px_0px_#60a5fa]
                         border border-blue-200 rounded-lg overflow-hidden
                              transition-all duration-300 hover:-translate-y-1 cursor-pointer"
                        (click)="selectPrimary('PostgreSQL')" [ngClass]="primaryClassMap['PostgreSQL']">
                        <figure class="aspect-square overflow-hidden rounded-t-lg p-2">
                            <img src="assets/images/postgres.png" alt="PostgreSQL" class="object-cover w-full h-full" />
                        </figure>
                    </div>
                    <span class="mt-1 text-sm font-medium text-gray-200">PostgreSQL</span>
                </div>
            </div>
        </div>
        <!-- <======= database name =======> -->



        <!-- ===== Client side Database  ===== -->
        <div class="fixed top-22 left-1/2 transform -translate-x-1/2 max-w-sm w-full sm:w-[20rem] h-70 
                     backdrop-blur-md bg-white/3 rounded-xl  border border-gray-600 shadow-lg ml-100">
            <div class="grid grid-cols-3 gap-4 mt-4 justify-items-center">
                <div *ngFor="let db of databases" class="flex flex-col items-center">
                    <div class="card ..." (click)="selectClient(db.name)" [ngClass]="clientClassMap[db.name]">
                        <figure class="aspect-square overflow-hidden rounded-t-lg p-2">
                            <img [src]="db.img" [alt]="db.name" class="object-cover w-full h-full" />
                        </figure>
                    </div>
                    <span class="mt-1 text-sm font-medium text-gray-200">{{ db.name }}</span>
                </div>

            </div>
            <div
                class="bg-white/3 w-80 h-60 mt-13 backdrop-blur-md border border-gray-600 rounded-xl shadow-lg p-4 overflow-hidden">
                <form [formGroup]="databaseForm"
                    class="form-control w-75 max-w-md overflow-y-auto max-h-40 p-3 no-scrollbar">
                    <div>
                        <label class="label">
                            <span class="label-text">Type</span>
                        </label>
                        <input type="text" formControlName="type" placeholder="Enter Type"
                            class="input input-info mt-1" />

                        <label class="label">
                            <span class="label-text">UserName</span>
                        </label>
                        <input type="text" formControlName="username" placeholder="Enter User Name"
                            class="input input-info" />
                        <div *ngIf="databaseForm.get('username')?.invalid && databaseForm.get('username')?.touched"
                            class="text-red-500 text-xs mt-1">
                            Plz fill UserName requird
                        </div>

                        <label class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <input type="text" formControlName="password" placeholder="Enter Password"
                            class="input input-info" />
                        <div *ngIf="databaseForm.get('password')?.invalid && databaseForm.get('password')?.touched"
                            class="text-red-500 text-xs mt-1">
                            Password must contain only numbers (1 to 8 digits).
                        </div>


                        <label class="label">
                            <span class="label-text">Port</span>
                        </label>
                        <input type="text" formControlName="port" placeholder="Enter Port" class="input input-info" />

                        <label class="label">
                            <span class="label-text">Host</span>
                        </label>
                        <input type="text" formControlName="host" placeholder="Enter Host" class="input input-info" />

                        <label class="label">
                            <span class="label-text">Database</span>
                        </label>
                        <input type="text" formControlName="database" placeholder=" Enter Database"
                            class="input input-info" />
                        <div *ngIf="databaseForm.get('database')?.invalid && databaseForm.get('database')?.touched"
                            class="text-red-500 text-xs mt-1">
                            Plz fill database name requird
                        </div>
                    </div>
                </form>

                <div class="flex flex-row space-x-2 mt-4">
                    <button class="btn btn-info" (click)="onOkClick()">OK</button>
                    <button class="btn btn-outline btn-error" (click)="onCancelClick()">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>